@model AlbumCollection.Models.Album
@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/style/songs.css" rel="stylesheet" />


</head>
<body>
    <header>
        <center>
            <ul>
                <li> <h1><a href="/Song/Create"><input type="submit" value="Add Song" /></a></h1></li>
            </ul>
        </center>
    </header>
    <main>

        <h2 style="justify-content:center">@Model.Artist_Name</h2>
        <ul class="songs" id="sevenfold">
            @foreach (var song in Model.Songs)
            {
                <li>
                    <h3>@song.Song_Name</h3>
                    <h2>@song.SongId</h2>
                </li>

            }

        </ul>
        </main>

</body>
</html>