@model IEnumerable<AlbumCollection.Models.Album>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <center> <h2> Wellcome to Music Web Site </h2></center>
    </header>
   
    <div class="container">
        @foreach (var album in Model)
        {

            <div class="album">
                <span>@album.Name</span>
                <a href="/Album/Details/@album.AlbumId">
                    <img src="~/img/sevenfold.jpg" />
                </a>
                <span>@album.Artist_Name</span>
</div>

        }
        </div>





</body>
</html>